@import "tailwindcss";

@theme {
  --color-fb-bg: #f0f2f5;
  --color-fb-hover: #e4e6eb;
  --color-fb-blue: #1877f2;
  --color-fb-text: #050505;
  --color-fb-subtext: #65676b;
  --color-fb-sidebar: #e4e6eb;
}
